.cabecera{
    display: flex;
}
.fondo{
    position: relative;
    height: 100vh;
    background: url('/imagenes/reunionimg.png');
    /* border: 2px solid rgb(255, 204, 0); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 55% bottom 35%;
}

.cabezal{
    height: 110px;
    background-color: #C23232;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.barraV_father{
    display: flex;
    border: #fff 10px ;
    gap: 10px;
}
/* Rigth Barra Lateral */
.left-barraV_father{
    background: white;
    width: 50%;
    height: 110px;
}
.barraV{
    height: 110px;
    width: 12px;
    background-color: #fff;

}
.title-vra, .title-sgp{
    font-family: "Oswald", sans-serif;
    font-size:4rem;
    margin-left: 2rem;
    margin-right: 1rem;
    font-weight: 700;
    color: #fff;
}

.cont-user{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-left: 50px;
    color: #fff;
    border-radius: 20px ;
}

.log-user{
    margin-top: 8px;
    font-size: 3.2rem;
}

.user-data{
    font-size: 3.2rem;
    font-family: "Oswald", sans-serif;
}