<template id="filter-top-template">
    <div class="filter-top">
        <div class="column" id="c1">
            <div class="row" id="r1">
                <label for="" id="la11"></label>
                <input type="text" id="in11">
                <select name="" id="se11"></select>
                <span id="sp11"></span>
            </div>
            <div class="row" id="r2">
                <label for="" id="la12"></label>
                <input type="text" id="in12">
                <select name="" id="se12"></select>
                <span id="sp12"></span>
            </div>
            <div class="row" id="r3">
                <label for="" id="la13"></label>
                <input type="text" id="in13">
                <select name="" id="se13"></select>
                <span id="sp13"></span>
                <button id="b13"></button>
            </div>
        </div>
        <div class="column" id="c2">
            <div class="row" id="r4"><label for="" id="la24"></label>
                <input type="text" id="in24">
                <select name="" id="se24"></select>
                <span id="sp24"></span>
            </div>
            <div class="row" id="r5"><label for="" id="la25"></label>
                <input type="text" id="in25">
                <select name="" id="se25"></select>
                <span id="sp25"></span>
            </div>
            <div class="row" id="r6">
                <label for="" id="la26"></label>
                <input type="text" id="in26">
                <select name="" id="se26"></select>
                <span id="sp26"></span>
                <button id="b26"></button>
            </div>
        </div>
    </div>
</template>