<template id="cabecera-template">
    <div class="cabecera">
        <img src="/imagenes/logouni.png" alt="Logo UNI">
        <div class="cabezal">
            <p class="title-vra">VRA UNI</p>
            <div class="barraV_father">
                <div class="barraV"></div>
                <div class="barraV"></div>
                <div class="barraV"></div>
                <div class="barraV"></div>
                <div class="barraV"></div>
                <div class="barraV"></div>
            </div>
            <div class="left-barraV_father"></div>
            <div class="cont-user">
                <div class="user-data">
                    <!-- Valores del rol y nombre se asignarán dinámicamente -->
                    <p id="user-role"></p>
                    <p id="user-name"></p>
                </div>
                <div>
                    <i class='bx bxs-user log-user'></i>
                </div>
            </div>
        </div>
    </div>
</template>