.button-lower {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.row-top {
    margin-top: 30px;
}

.button {
    border: none;
    background-color: #007bff;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
    min-height: 4.5rem;
    font-family: "Oswald", sans-serif;
}

.hidden {
    display: none;
}

.modal {
    font-size: 1.5rem;
    min-height: 3.5rem;
}

.exit-btn {
    background-color: #2f4fcd;
    padding: 6px 40px;
    border-radius: 10px;
    transition: ease-in-out .4s ;
    color: #fff;
    margin-left: auto;
}

.exit-btn:hover {
    background-color: rgb(31, 1, 150);
}

.manual-btn{
    padding: 10px;
    border: none;
    background-color: #cd2f2f;
    color: #fff;
    transition: ease-in-out .4s ;
    border-radius: 0px 10px 0px 0px;
}
.manual-btn:hover{
    background: #500000;
}