.control-select{
    width: 100%;
    margin-top: 20px;
    display: flex;
    gap: 5%;
}

.modal {
    font-size: 1.5rem;
    min-height: 3.5rem;
}

.label-cont{
    background-color: #cd2f2f; /* Rojo intenso */
    color: white; /* Texto blanco */
    padding: 8px 12px;
    border-radius: 5px 0 0 5px;
    font-size: 1.8rem;
    font-family: "Oswald", sans-serif;
    width: 50%;
    min-width: 140px;
}

.select-cont{
    border: 2px solid #cd2f2f;
    border-radius: 0 5px 5px 0;
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    padding: 5px;
    outline: none;
    width: 45%;
    min-width: 120px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-cont:hover{
    border: 3px solid #cd2f2f;
}