<template id="control-group-template">
    <div class="control-group">
        <div class="column" id="c1">
            <div class="row" id="r11">Fila 1, Columna 1</div>
            <div class="row" id="r12">Fila 2, Columna 1</div>
            <div class="row" id="r13">Fila 3, Columna 1</div>
        </div>
        <div class="column" id="c2">
            <div class="row" id="r21">Fila 1, Columna 2</div>
            <div class="row" id="r22">Fila 2, Columna 2</div>
            <div class="row" id="r23">Fila 3, Columna 2</div>
        </div>
    </div>
</template>