
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
}

.fondo{
    position: relative;
    height: 100vh;
    background: url('/imagenes/reunionimg.png');
    /* border: 2px solid rgb(255, 204, 0); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right 55% bottom 35%;
}

.contenedor{
    
    width: 100%;
    display: flex;
    justify-content: center;
}
.cont-user{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin-left: 50px;
    color: #fff;
    border-radius: 20px ;
}
.log-user{
    margin-top: 8px;
    font-size: 3.2rem;
}
.user-data{
    font-size: 3.2rem;
    font-family: "Oswald", sans-serif;

}

/* CUERPO DEL CONTENEDOR  */

.container-cuerpo{
    width: 100%;
    height: 100%;
}
.container{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    /* border: solid black 1px; */
}
.title-cont{
    position: relative;
    background-color: #C23232;
    font-size: 2.4rem;
    width: 100%;
    padding: 10px;
    border-radius: 0px 30px 0px 0px;
}
.title-cont p{
    font-size: 2.4rem;
    color: #fff;
    font-family: "Oswald", sans-serif;
}

/* GRUPO DE CONTROL: INPUTS, SELECTS, ETC */

.control-group {
    width: 100%;
    /* border: black solid 2px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* BUSCADOR Y TABLAS */

.search{
    width: 100%;
    /* border: black solid 2px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.left{
    align-content: flex-start;
}

.left .left_children{
    margin-top: 20px;
    width: 400px;
    display: flex;
}

.left .left_children select{
    background-color: white;
    color: #333; /* Texto negro */
    border: 1px solid #cd2f2f; /* Borde rojo */
    font-family: "Oswald", sans-serif;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    font-size: 1.9rem;
    outline: none;
    transition: ease-in-out all .3s;
    width: 150px;
}

.left .left_children select:hover{
    background-color:  #cd2f2f; 
    color: #fff;
}



.left .right_children{
    margin-top: 20px;
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.left .right_children input{
    width: 150px;
    border: 1px solid #cd2f2f;
    border-radius: 0 5px 5px 0;
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    padding: 5px;
    outline: none;
    width: 50%;
}

.left .right_children input:hover{
    border: 3px solid #cd2f2f;
}

.search-text{
    background-color: #cd2f2f; /* Rojo intenso */
    color: white; /* Texto blanco */
    padding: 10px 15px;
    border-radius: 5px 0 0 5px;
    font-size: 1.9rem;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-right: 5px; /* Separación del select */
    width: 45%;
}

.right{
    margin-top: 25px;
}
.right input{
    background-color: white;
    color: #333; /* Texto negro */
    border: 1px solid #cd2f2f; /* Borde rojo */
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    outline: none;
    appearance: none; /* Elimina la flecha predeterminada */
    font-family: "Oswald", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20rem;
}
.right input:hover{
    color: #333; /* Texto negro */
    border: 3px solid #cd2f2f; /* Borde rojo */ 
}




.cell-rol {
    text-align: left;
}

.cell-rol span {
    font-size: 14px;
}

.cell-rol img {
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
}

/* ############### TABLA DCONTAINER ###################### */
.tabla-container {
    margin: auto;
    width: 80%;
    max-height: 300px; /* Altura máxima del área de desplazamiento */
    overflow-y: auto; /* Activar scroll vertical */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px; /* Espacio con respecto al pie de página */
}

.tabla {
    width: 100%;
    border-collapse: collapse;
}

.tabla thead {
    position: sticky; /* Para que el encabezado permanezca fijo */
    top: 0;
    background-color: #d32f2f; /* Fondo rojo para encabezado */
    color: white;
}

.tabla th,
.tabla td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.tabla tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tabla tbody tr:nth-child(odd) {
    background-color: #fff;
}

.tabla tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
/* Estilo personalizado para el scroll */
.tabla-container::-webkit-scrollbar {
    width: 10px; /* Ancho del scroll */
}

.tabla-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Fondo del track */
    border-radius: 5px; /* Borde redondeado */
}

.tabla-container::-webkit-scrollbar-thumb {
    background-color: #d32f2f; /* Color rojo del scroll */
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solid #f1f1f1; /* Espaciado entre el scroll y el track */
}

.tabla-container::-webkit-scrollbar-thumb:hover {
    background-color: #b71c1c; /* Rojo más oscuro al pasar el cursor */
}

.salida a{
    margin-top: 30px;
    background-color: blue;
    padding: 6px 40px;
    font-size: 1.8rem;
    border-radius: 2px;
    transition: ease-in-out .4s ;
    font-family: "Oswald", sans-serif;
    color: #fff;
    text-decoration: none;
}

.salida a:hover{
    background-color: rgb(31, 1, 150);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    z-index: 1;
}

/* Modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 65%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    border: 2px solid #b71c1c; /* Borde rojo */
    border-radius: 10px; /* Bordes redondeados (opcional) */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal h2 {
    font-family: "Oswald", sans-serif;
    font-size: 2.9rem;
    color: black;
}

/* Ocultar elementos por defecto */
.hidden {
    display: none;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section {
    display: flex;
    flex-direction: column; /* Asegura que los form-groups estén en columnas */
    gap: 20px; /* Espacio entre los grupos de label e input */
    width: 50%;
}

.section select{
    background-color: white;
    color: #333; /* Texto negro */
    border: 1px solid #cd2f2f; /* Borde rojo */
    font-family: "Oswald", sans-serif;
    text-align: center;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    font-size: 1.9rem;
    outline: none;
    transition: ease-in-out all .3s;
    width: 150px;
}

.section select:hover{
    background-color:  #cd2f2f; 
    color: #fff;
}

.section option {
    font-size: 1.5rem;
}

.sub-section {
    display: flex;
    align-items: center; /* Alinea verticalmente el label y el input */
    gap: 10px; /* Espacio entre el label y el input */
}

.sub-section label {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: end;
    font-family: Arial, sans-serif;
    width: 40%;
}

.sub-section input {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    width: 50%;
    border: 2px solid #b71c1c;
    border-radius: 5px;
    padding: 5px 2px;
}

.sub-section span {
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    width: 50%;
    border: 2px solid #b71c1c;
    border-radius: 5px;
    padding: 5px 2px;
}

.sub-section select{
    font-size: 1.5rem;
    font-family: Arial, sans-serif;
    width: 50%;
    border: 2px solid #b71c1c;
    border-radius: 5px;
    padding: 5px 2px;
    cursor: pointer;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-end;
}

span.title {
    font-weight: bold;
    border-radius: 0px;
    background-color: #b71c1c;
    color: #fff;
    width: 70%;
    margin-right: 6%;
}

div.cell {
    width: 50%;
    border: 2px solid #b71c1c;
    border-radius: 5px;
    padding: 5px 2px;
    border-top: none;
    border-radius: 0px;
    width: 70%;
    margin-right: 6%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.cell span {
    border: 0px;
    padding: 0px;
    padding-left: 20%;
}

div.cell img {
    height: 20px;
    object-fit: contain;
    padding-right: 20%;
    cursor: pointer;
}

.close_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cancelButton {
    background-color: #b71c1c;
    padding: 6px 40px;
    font-size: 1.5rem;
    border-radius: 20px;
    transition: ease-in-out .4s ;
    font-family: "Oswald", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.acceptButton {
    background-color: #232ddfc8;
    padding: 6px 40px;
    font-size: 1.5rem;
    border-radius: 20px;
    transition: ease-in-out .4s ;
    font-family: "Oswald", sans-serif;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}